<div id='page'>
  <main>
    <link href='/public/css/sitemap.css' rel='stylesheet' />
    <div id='Sitemap'>
      <div class='H1'>SiteMap</div>
      <br />
      <ul>
        {{log '🔴 _pub_sitemap.hbs : 9 ==> ' window.MENU_DATA}}
        {{#each window.MENU_DATA}}
          <li data-key='{{@key}}'>
            {{#if this.PAGE}}
              <a class='label' href='/index.html?page={{this.PAGE}}'><span style='color:orangered'>[ {{this.PAGE}} ]</span>
                {{this.뎁스1}}</a>
            {{else}}
              <div class='label'>{{this.뎁스1}}</div>
            {{/if}}
            <ul>
              {{#each this.child}}
                <li data-key='{{@key}}'>
                  {{#if this.PAGE}}
                    <a class='label' href='/index.html?page={{this.PAGE}}'><span style='color:orangered'>[ {{this.PAGE}} ]</span>
                      {{this.뎁스2}}</a>
                  {{else}}
                    <div class='label'>{{this.뎁스2}}</div>
                  {{/if}}
                  <ul>
                    {{#each this.child}}
                      <li>
                        {{#if this.PAGE}}
                          <a class='label' href='/index.html?page={{this.PAGE}}'><span style='color:orangered'>[ {{this.PAGE}} ]</span> {{this.뎁스3}}</a>
                        {{else}}
                          <div class='label'>{{this.뎁스3}}</div>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </main>
</div>