{{DF this 'id' (UID)}}
<div class='relative'>
  <div id='BrandSwiper_1-{{id}}' class='swiper BrandSwiper_1'>
    <div class='swiper-wrapper'>
      {{#LOOP 20}}
        <div class='swiper-slide' data-key='{{index}}'>
          {{#if @root.rank}}
            <script>Include('/hbs/component/BrandItem_1-a.hbs', {rank:{{number}} });</script>
          {{else}}
            <script>Include('/hbs/component/BrandItem_1-a.hbs');</script>
          {{/if}}
        </div>
      {{/LOOP}}
    </div>
  </div>
  {{!--prettier-ignore--}}
  <script>
      (() => {
        const swiper_option = {
          slidesPerView: 3.3, // 슬라이드의 수가 slidesPerView의 값 2배 이상이어야함. slidesPerView, slidesPerGroup 함께 설정 필요.
          slidesPerGroup: 1,
          spaceBetween: 10,
          loop: false,
          // pagination: pagination_progress,
          // autoplay: {
          //   delay: 1000,
          //   disableOnInteraction: false,
          // },
          init: false,
          // grabCursor: true,
        };

        let swiper = new Swiper('#BrandSwiper_1-{{id}}', swiper_option);

        swiper.on('init', function () {
          // console.log('init');
        });

        swiper.on('slideChange', function () {
          // console.log('slideChange');
        });

        swiper.on('slideChangeTransitionEnd', function () {
          // console.log('slideChangeTransitionEnd');
        });

        swiper.init();
      })();
    </script>
</div>