{{#DV}}
  {{SAFE 'txt1'}}
  {{SAFE 'txt2'}}
  {{SAFE 'txt3'}}
{{/DV}}
<div class='InfoBox_3'>
  <article class='CenterBetween'>
    <div>
      <div class="t-130ad8d1">
        2023-05-20 13:24
      </div>
    </div>
    <div>
      {{#if txt1}}
        <div class="t-c69c5f29">
          {{txt1}}
        </div>
      {{/if}}
      {{#if txt2}}
        <div class="t-4ec5fb48">
          {{txt2}}
        </div>
      {{/if}}
      {{#if txt3}}
        <div class="t-86f2b540">
          {{txt3}}
        </div>
      {{/if}}
    </div>
  </article>
  <table class="Table_6" style="margin-top: 14px;">
    <tbody>
      <tr>
        <th>
          출금계좌
        </th>
        <td>
          하나 283****73768004
        </td>
      </tr>
      <tr>
        <th>
          출금금액
        </th>
        <td>
          5,000원
        </td>
      </tr>
    </tbody>
  </table>
</div>