{{#DV}}
  {{SAFE 'txt1'}}
  {{SAFE 'txt2'}}
  {{SAFE 'txt3'}}
  {{SAFE 'state1'}}
  {{SAFE 'state2'}}
  {{SAFE 'state3'}}
  {{SAFE 'badge1'}}
  {{SAFE 'badge2'}}
  {{SAFE 'badge3'}}
  {{SAFE 'flag1'}}
  {{SAFE 'flag2'}}
  {{SAFE 'flag3'}}
  {{SAFE 'flag4'}}
  {{SAFE 'flag5'}}
  {{SAFE 'btn1'}}
  {{SAFE 'btn2'}}
  {{SAFE 'btn3'}}
  {{SAFE 'brand_name'}}
  {{SAFE 'brand_name_xs'}}
  {{SAFE 'product_name'}}
  {{SAFE 'product_name_2'}}
{{/DV}}
<div class='PrdItem_1'>
  {{#if checkbox}}
    <article style="margin-bottom:23px;">
      <input style="margin-left:-18px;" class="CheckBoxUi Style1" type="checkbox" checked>
    </article>
  {{/if}}
  <article class='Head'>
    {{#if state1}}
      <div class='state1'>{{state1}}</div>
    {{/if}}
    {{#if state2}}
      <div class='state2'>{{state2}}</div>
    {{/if}}
    {{#if state3}}
      <div class='state3'>{{state3}}</div>
    {{/if}}
    {{#if badge1}}
      <div class='Badge_2 Style1'>{{badge1}}</div>
    {{/if}}
    {{#if badge2}}
      <div class='Badge_2 Style2'>{{badge2}}</div>
    {{/if}}
    {{#if badge3}}
      <div class='Badge_2 Style3'>{{badge3}}</div>
    {{/if}}
  </article>
  <article class='Body {{#if centered}} Centered {{/if}}'>
    <div class='Left'>
      <div class='ThumbBox'>
        <script>Include('/hbs/component/ImgBox_1-a.hbs', {like:{{SAFE2 like false}}, grayscale:{{SAFE2 grayscale false}} });</script>
      </div>
      {{#if flag1}}
        <div class='Flag Style1'>
          {{flag1}}
        </div>
      {{/if}}
      {{#if flag2}}
        <div class='Flag Style2'>
          {{flag2}}
        </div>
      {{/if}}
      {{#if flag3}}
        <div class='Flag Style3'>
          {{flag3}}
        </div>
      {{/if}}
      {{#if flag4}}
        <div class='Flag Style4'>
          {{flag4}}
        </div>
      {{/if}}
      {{#if flag5}}
        <div class='Flag Style5'>
          {{flag5}}
        </div>
      {{/if}}
    </div>
    <div class='Right'>
      {{#if brand_name_xs}}
        <div class='brand_name_xs'>{{brand_name_xs}}</div>
      {{/if}}
      {{#if brand_name}}
        <div class='brand_name'>{{brand_name}}</div>
      {{/if}}
      {{#if product_name}}
        <div class='product_name' style='margin-top:10px;'>{{product_name}}</div>
      {{/if}}
      {{#if product_name_2}}
        <div class='product_name_2' style='margin-top:4px;'>{{product_name_2}}</div>
      {{/if}}
      {{#OR 'price1|price2|price5'}}
        <article class='CenterLeft' style='margin-top:4px; gap:4px;'>
          {{#if price1}}
            <div class='price1'>{{price1}}</div>
          {{/if}}
          {{#if price5}}
            <div class='price5'>{{price5}}</div>
          {{/if}}
          {{#if price2}}
            <div class='price2'>{{price2}}</div>
          {{/if}}
        </article>
      {{/OR}}
      {{#if price_set}}
        <div style='margin-top:10px;'>
          <article class='CenterLeft'>
            <div class='price3'>26,400원</div>
            <div class='sale_per' style='margin-left:4px;'>12%</div>
            <img style='margin-left:2px;' src='/public/icon/2307181513.svg' alt=''/>
          </article>
          <div class='price4' style='margin-top:6px;'>4,500원</div>
        </div>
      {{/if}}
      {{#if cupon_num}}
        <div class='cupon_num' style='margin-top:10px;'>쿠폰번호 : 9891463531813726</div>
      {{/if}}
      {{#if txt1}}
        <div class="Txt1" style="margin-top:10px;">{{txt1}}</div>
      {{/if}}
      {{#if txt2}}
        <div class="Txt2" style="margin-top:10px;">{{txt2}}</div>
      {{/if}}
      {{#if txt3}}
        <div class="Txt3" style="margin-top:10px;">{{txt3}}</div>
      {{/if}}
      {{#if date_txt}}
        <div style='margin-top:10px;'>
          <div class='date_txt'>ㅇㅇㅇㅇ : <span>2023-05-17 17:37</span></div>
          <div class='date_txt'>ㅇㅇㅇㅇ : <span>2023-05-17</span></div>
        </div>
      {{/if}}
    </div>
  </article>
  {{#if btn1}}
    <div style='margin-top:10px;'>
      <button class='ButtonUi Style4 w-full' data-form-hei='Xs'>
        {{{btn1}}}
      </button>
    </div>
  {{/if}}
  {{#if btn2}}
    <div style='margin-top:10px;'>
      <button class='ButtonUi Style7 w-full' data-form-hei='Xs'>
        {{{btn2}}}
      </button>
    </div>
  {{/if}}
  {{#if btn3}}
    <div style='margin-top:10px;'>
      <button class='ButtonUi Style8 w-full' data-form-hei='Xs'>
        {{{btn3}}}
      </button>
    </div>
  {{/if}}
</div>