{{#DV}}
  {{SAFE 'txt1'}}
  {{SAFE 'txt2'}}
  {{SAFE 'txt3'}}
{{/DV}}
<div class='ProductItem_6'>
  <article class='CenterRight'>
    {{#if txt1}}
      <div class='C-2c337995'>
        {{txt1}}
      </div>
    {{/if}}
    {{#if txt2}}
      <div class='C-cdff4686'>
        {{txt2}}
      </div>
    {{/if}}
    {{#if txt3}}
      <div class='C-3771a0df'>
        {{txt3}}
      </div>
    {{/if}}
  </article>
  <article class='CenterLeft' style='align-items:flex-start;'>
    <div style='padding-right:17px;'>
      <div style='position:relative;'>
        <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
      </div>
    </div>
    <div>
      <div class="C-0bd7442b">GS25</div>
      <div class='C-e32097f5 Montserrat' style='margin-top:10px;'>CU 3천원권</div>
      <div class='CenterLeft' style='margin-top:4px;'>
        <div class='C-2c337995 Montserrat'>
          2,800원
        </div>
        <div class='C-c775a6d1 Montserrat' style='margin-left:4px;'>
          3,000원
        </div>
      </div>
      <div class='C-3771a0df Montserrat' style='margin-top:10px;'>쿠폰번호 : 9891463531813726</div>
      <div class="C-e174c08b" style='margin-top:10px;'>
        <p>구매일시 : <span class='Montserrat'>2023-05-17 17:37</span></p>
        <p>유효기간 : <span class='Montserrat'>2023-05-17</span></p>
      </div>
    </div>
  </article>
</div>