{{#if preview}}
  {{SAFE2 this 'txt1|txt2|txt3|txt4|txt5|txt6|txt7'}}
{{/if}}
<div class="ProductItem_3">
  <article class="CenterRight">
    {{#if txt3}}
      <div class="Badge_2 Style1">{{txt3}}</div>
    {{/if}}
    {{#if txt4}}
      <div class="Badge_2 Style2">{{txt4}}</div>
    {{/if}}
  </article>
  <article class="CenterLeft" style="margin-top:2px;">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        {{> 'module/ImgBox_2-a' }}
        {{#if txt1}}
          <div class="Flag Style4">
            {{txt1}}
          </div>
        {{/if}}
        {{#if txt2}}
          <div class="Flag Style5">
            {{txt2}}
          </div>
        {{/if}}
      </div>
    </div>
    <div>
      <div class="Txt1">교촌치킨</div>
      <div class="Txt2 Montserrat" style="margin-top:10px;">
        후라이드치킨+콜라 1.25L
      </div>
      <article class="CenterLeft">
        <div class="Txt7 Montserrat">
          26,400원
        </div>
        <div class="Txt8 Montserrat" style="margin-left:6px;">
          4,500원
        </div>
      </article>
      {{#if txt5}}
        <div class="Txt9" style="margin-top:14px;">
          {{txt5}}
        </div>
      {{/if}}
      {{#if txt6}}
        <div class="Txt10" style="margin-top:14px;">
          {{txt6}}
        </div>
      {{/if}}
      {{#if txt7}}
        <div class="Txt11" style="margin-top:14px;">
          {{txt7}}
        </div>
      {{/if}}
    </div>
  </article>
  <div style="margin-top:20px;">
    <button class="ButtonUi Style4 w-full" data-form-hei="Xs">상세보기</button>
  </div>
</div>
