{{#DV}}
  {{SAFE 'txt1'}}
  {{SAFE 'txt2'}}
  {{SAFE 'txt3'}}
  {{SAFE 'txt4'}}
  {{SAFE 'txt5'}}
  {{SAFE 'txt6'}}
  {{SAFE 'txt7'}}
  {{SAFE 'txt8'}}
  {{SAFE 'txt9'}}
  {{SAFE 'btn1'}}
  {{SAFE 'btn2'}}
  {{SAFE 'btn3'}}
{{/DV}}
<div class='ProductItem_3'>
  <article class="CenterRight" style="align-items:center;">
    {{#if txt6}}
      <div class="Badge_2 Style1">{{txt6}}</div>
    {{/if}}
    {{#if txt7}}
      <div class="Badge_2 Style2">{{txt7}}</div>
    {{/if}}
    {{#if txt9}}
      <div class="Txt6" style="margin-right:6px;">{{txt9}}</div>
    {{/if}}
    {{#if txt8}}
      <div class="Badge_2 Style3">{{txt8}}</div>
    {{/if}}
  </article>
  <article class='CenterLeft'>
    <div style='padding-right:17px;'>
      <div style='position:relative;'>
        <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
        {{#if txt1}}
          <div class='Flag Style1'>
            {{txt1}}
          </div>
        {{/if}}
        {{#if txt2}}
          <div class='Flag Style2'>
            {{txt2}}
          </div>
        {{/if}}
        {{#if txt3}}
          <div class='Flag Style3'>
            {{txt3}}
          </div>
        {{/if}}
        {{#if txt4}}
          <div class='Flag Style4'>
            {{txt4}}
          </div>
        {{/if}}
        {{#if txt5}}
          <div class='Flag Style5'>
            {{txt5}}
          </div>
        {{/if}}
      </div>
    </div>
    <div>
      <div class='Txt1'>교촌치킨</div>
      <div class='Txt2 Montserrat' style='margin-top:10px;'>
        후라이드치킨+콜라 1.25L
      </div>
      {{#if (IF txt4 '==' '판매불가')}}
        <div class="Txt3 Montserrat" style="margin-top:4px;">
          불가사유: 이미 등록된 상품
        </div>
      {{else}}
        <div class="Txt3 Montserrat" style="margin-top:4px;">
          가격: 2,800원
        </div>
        <div class="Txt4 Montserrat" style="margin-top:10px;">
          쿠폰번호 : 9891463531813726
        </div>
        <div class="Txt5" style="margin-top:10px;">
          <p>ㅇㅇㅇㅇ : <span class="Montserrat">2023-05-17</span></p>
          <p>ㅇㅇㅇㅇ : <span class="Montserrat">2023-05-17 12:45</span></p>
        </div>
      {{/if}}
    </div>
  </article>

  {{#if btn1}}
    <div style='margin-top:20px;'>
      <button class='ButtonUi Style7 w-full' data-form-hei='Xs'>
        {{btn1}}
      </button>
    </div>
  {{/if}}
  {{#if btn2}}
    <div style='margin-top:20px;'>
      <button class='ButtonUi Style8 w-full' data-form-hei='Xs'>
        {{btn2}}
      </button>
    </div>
  {{/if}}
  {{#if btn3}}
    <div style='margin-top:20px;'>
      <button class='ButtonUi Style4 w-full' data-form-hei='Xs'>
        {{btn3}}
      </button>
    </div>
  {{/if}}
</div>