<div class='TreeMenu_1'>
  <ul>
    {{#LOOP 3}}
      <li class="{{ON 0}}">
        <button>
          <div style='flex:1;'>
            <div class='Txt1'>{{number}}</div>
          </div>
          <div>
            <img class='Icon Icon1' src='/public/icon/star.svg' alt=''/>
          </div>
        </button>
        <ul>
          {{#LOOP 5}}
            <li class="{{ON 1}}">
              <button>
                <div style='flex:1;'>
                  <div class='Txt2'> {{../number}} - {{number}}</div>
                </div>
                <div>
                  <img class='Icon Icon2' src='/public/icon/star.svg' alt=''/>
                </div>
              </button>
              <ul>
                {{#LOOP 5}}
                  <li>
                    <button>
                      <div style='flex:1;'>
                        <div class='Txt3'>{{../../number}} - {{../number}} - {{number}}</div>
                      </div>
                      <div>
                        <img class='Icon Icon3' src='/public/icon/star.svg' alt=''/>
                      </div>
                    </button>
                    <ul>
                      <li></li>
                    </ul>
                  </li>
                {{/LOOP}}
              </ul>
            </li>
          {{/LOOP}}
        </ul>
      </li>
    {{/LOOP}}
  </ul>
  <script>initTreeMenu()</script>
</div>